{% extends 'main.html' %}

{% block content %}

<!-- {% if language %} -->

<h1>{{ language.name_english }} | {{ language.name_native }}</h1>

<!-- <strong>Follows</strong><br>
{% for following in profile.follows.all %}
  <a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>

{% endfor %}


<strong>Followed by</strong><br>

{% for follower in profile.followed_by.all %}
  {% if follower.user.id != profile.user.id %}
  <a href="{% url 'profile' follower.user.id %}">@{{ follower }}</a><br/>
  {% endif %}
{% endfor %}

{% endif %}

<br>
<br>

<form method="POST">
  {% csrf_token %}
  {% if profile != user.profile %}
    {% if profile in user.profile.follows.all %}
      <button name="follow" value="unfollow" type="submit">
        Unfollow @{{ profile.user.username }}
      </button>
    {% else %}
      <button name="follow" value="follow" type="submit">
        Follow @{{ profile.user.username }}
      </button>
    {% endif %}
  {% endif %}
</form> -->

{% endblock content %}